@model LPAR19.Models.UploadFile
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form enctype="multipart/form-data" method="post" action="/ImageUpload/FileUpload">
    <div class="row">
        <div class="col-md-4">
            <dl>
                <dt>
                    <label asp-for="FormFile"></label>
                </dt>
                <dd>
                    <input asp-for="FormFile" type="file">
                </dd>
            </dl>
            @*<input asp-page-handler="Upload" class="btn" type="submit" value="Upload">*@
            <input type="submit" value="Upload" class="btn btn-info" />
            <img src="@Model.OutputFile" alt="Img" class="img-fluid">
        </div>
        <div class="col-md-8">
            @foreach (var rw in Model.RawData)
            {
            <figure class="figure">
                <img src="@rw.RawImage" alt="Img" class="figure-img img-thumbnail">
                <figcaption class="figure-caption text-left">@rw.Number</figcaption>
            </figure>
            }
            </div>
    </div>
</form>

